/* 
Azul Grisáceo: #6B7A8F (Color principal suave)
Rojo Suave: #D9534F (Para notificaciones o alertas sutiles)
Texto Principal: #333333 (Un negro no tan intenso)
Fondo/Espacio en Blanco: #F7F7F7 (Un blanco ligeramente cálido)
Detalles en Azul Claro: #A2B5CD (Para bordes o fondos secundarios) */

/* NOTA: *:before, *:after  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
body {
  padding: 30px;
  margin: 20;
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial,
    sans-serif;
  font-size: 10px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  padding: 3px;
  border-radius: 5px;
}
