/* Paleta propia */
:root {
  --vs-offwhite: #f9f6ec;
  --vs-steel:    #88a1a8;
  --vs-plum:     #502940;  
  --vs-wine:     #790614;  
  --vs-ink:      #0d0c0c; 


  --vs-green:    #3E7C59;  
}

/* Re-root de Bootstrap */
:root,
[data-bs-theme="light"] {
  --bs-primary:      var(--vs-plum);
  --bs-secondary:    var(--vs-steel);
  --bs-danger:       var(--vs-wine);
  --bs-dark:         var(--vs-ink);
  --bs-success:      var(--vs-green);             
  --bs-success-rgb:  62, 124, 89;                  
  --bs-body-bg:      var(--vs-offwhite);
  --bs-body-color:   var(--vs-ink);
  --bs-link-color:   var(--vs-plum);
  --bs-border-color: #b8c6ca; /
}

/* suaves */
.bg-success-subtle-custom {
  background: color-mix(in oklab, var(--vs-green) 16%, white) !important;
}
.text-green   { color: var(--vs-green) !important; }
.border-green { border-color: var(--vs-green) !important; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
body {
  padding: 30px;
  margin: 20;
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial,
    sans-serif;
  font-size: 10px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  padding: 3px;
  border-radius: 5px;
}

.theme-wine {
  color: #7B1733}